{% extends "layout/base.html" %}

{% block title %}Edit Profie{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block main %}
    <div class="row mt mb lpad">
        <div class="form-wrapper">
            <div class="form-title">
                <h1>Profile</h1>
            </div>
            <form action="/profile/edit" method="POST">
                <div class="form-item">
                    <input type="text" name="email" value="{{ user.email }}" placeholder="Email"/>
                </div>
                <div class="form-item">
                    <input type="text" name="username" value="{{ user.username }}" placeholder="Username"/>
                </div>
                <div class="form-item">
                    <input type="text" name="major" value="{{ user.major }}" placeholder="Major"/>
                </div>
                <div class="form-item">
                    <textarea name="personal_des" placeholder="Write something about you...">{{
                        user.personal_des
                    }}</textarea>
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" value="Update" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
