{% extends "layout/default.html" %}

{% block title %}Add Post{% endblock %}

{% block main %}
    <form action="{% if post %}/post/edit-post/{{ post.id }}{% else %}/post/add-post{% endif %}" method="POST">
        <p>Title: </p>
        <input type="text" name="title" value="{% if post %}{{ post.title }}{% endif %}">
        <p>Content: </p>
        <textarea name="content" cols="30" rows="10">{% if post %}{{ post.content }}{% endif %}</textarea>
        <input type="hidden" name="post_type" value="{{ post_type }}">
        <p>Rate: </p>
        <input type="number" name="rate" value="{% if post %}{{ post.tag.rate }}{% endif %}">
        <p>Position</p>
        <input type="text" name="position" value="{% if post %}{{ post.tag.position }}{% endif %}">
        <p>Company: </p>
        <input type="text" name="company" value="{% if post %}{{ post.tag.company }}{% endif %}">
        <p>Hashtags: </p>
        <input type="text" name="hashtags" value="{% if post %}{{ post.tag.hashtags_dis }}{% endif %}">
        <p>Domain: </p>
        <input type="text" name="domain" value="{% if post %}{{ post.tag.domain }}{% endif %}">
        <input type="submit" value="{% if post %}Edit{% else %}Post{% endif %}">
    </form>
{% endblock %}