{% extends "layout/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post-detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/post-detail.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="row mt lpad post-wrapper">
        <div class="large-12 columns post-title">
            <span>{{ post.title }}</span>
        </div>
        <div class="large-12 columns">
            <span class="post-info">
                Posted by<a href="/profile/view/{{ post.uni }}">{{ post.user.username }}</a>
                {{ post.time_posted.strftime('%m-%d-%Y %I:%M%p') }}
            </span>
        </div>
        <div class="large-12 columns company-info">
            <span>Company: {{ post.tag.company }}</span>
        </div>
        <div class="large-12 columns company-info">
            <span>Position: {{ post.tag.position }}</span>
        </div>
        <div class="large-12 columns company-info">
            Rating: <div class="star-rating">
                <div class="back-stars">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <div class="front-stars rate-{{ post.tag.rate }}">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-12 columns post-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="large-12 columns">
            <ul class="tags">
                {% for hashtag in post.tag.hashtags %}
                    <li class="tag">{{ hashtag }}</li>
                {% endfor %}
                {% if post.tag.domain %}
                    <li class="tag">{{ post.tag.domain.lower().replace(' ', '') }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="large-12 columns">
            <div class="fl">
                <div class="action-icon left-first">
                    <button id="comment-form-displayer">
                        <a>
                            <i class="fa fa-comments"></i>
                            <span>comment</span>
                        </a>
                    </button>
                </div>
                <div class="action-icon">
                    {% if uni == post.uni %}
                        <a href="/post/edit-post/{{ post.id }}">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>edit</span>
                        </a>
                    {% endif %}
                </div>
                <div class="action-icon">
                    {% if uni == post.uni %}
                    <form action="/post/delete-post" method="POST" class="icon-form">
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button type="submit">
                            <a>
                                <i class="fa fa-trash"></i>
                                <span>delete</span>
                            </a>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="large-12 columns form-error-wrapper">
            {% include "includes/form-error.html" %}
        </div>
        <div class="large-12 columns comment-form" id="comment-form-wrapper">
            <form action="/comment/add-comment" method="POST">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <textarea name="content" placeholder="Add your comment..."></textarea>
                <div class="fr">
                    <div class="action-icon">
                        <button type="button" id="comment-form-hidder">
                            <a>
                                <i class="fa fa-eye-slash"></i>
                                <span>hide</span>
                            </a>
                        </button>
                    </div>
                    <div class="action-icon">
                        <button type="submit">
                            <a>
                                <i class="fa fa-pencil"></i>
                                <span>submit</span>
                            </a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mb lpad comment-wrapper">
        <div class="large-12 columns">
            {% for indent, reply in comments %}
                <div class="comment lborder" style="margin-left: {{ indent * 5 }}em">
                    <span class="reply-info">
                        <a href="/profile/view/{{ reply.user.uni }}">{{ reply.user.username }}</a>
                        Posted on {{ reply.time_posted.strftime('%m-%d-%Y %I:%M%p') }}
                    </span>
                    <p class="reply-content">{{ reply.content }}</p>
                    <div class="fr">
                        <div class="action-icon">
                            <button class="reply-form-displayer" id="reply-form-displayer__{{ reply.id }}">
                                <a>
                                    <i class="fa fa-comments"></i>
                                    <span>reply</span>
                                </a>
                            </button>
                        </div>
                        {% if uni == reply.uni %}
                        <div class="action-icon">
                            <button class="edit-reply-form-displayer" id="edit-reply-form__{{ reply.id }}">
                                <a>
                                    <i class="fa fa-pencil-square-o"></i>
                                    <span>edit</span>
                                </a>
                            </button>
                        </div>
                        <div class="action-icon">
                            <form action="/comment/delete-comment" method="POST">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="comment_id" value="{{ reply.id }}">
                                <button type="submit">
                                    <a>
                                        <i class="fa fa-trash"></i>
                                        <span>delete</span>
                                    </a>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="reply-form" id="reply-form-wrapper__{{ reply.id }}">
                        <form action="/comment/add-comment" method="POST">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="comment_id" value="{{ reply.id }}">
                            <textarea name="content" placeholder="Add your comment..."></textarea>
                            <div class="fr">
                                <div class="action-icon">
                                    <button type="button" class="reply-form-hidder" id="reply-form-hidder__{{ reply.id }}">
                                        <a>
                                            <i class="fa fa-eye-slash"></i>
                                            <span>hide</span>
                                        </a>
                                    </button>
                                </div>
                                <div class="action-icon">
                                    <button type="submit">
                                        <a>
                                            <i class="fa fa-pencil"></i>
                                            <span>submit</span>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="edit-reply-form" id="edit-reply-form-wrapper__{{ reply.id }}">
                        <form action="/comment/edit-comment" method="POST">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="comment_id" value="{{ reply.id }}">
                            <textarea name="content" placeholder="Edit your comment..."></textarea>
                            <div class="fr">
                                <div class="action-icon">
                                    <button type="button" class="edit-reply-form-hidder" id="edit-reply-form-hidder__{{ reply.id }}">
                                        <a>
                                            <i class="fa fa-eye-slash"></i>
                                            <span>hide</span>
                                        </a>
                                    </button>
                                </div>
                                <div class="action-icon">
                                    <button type="submit">
                                        <a>
                                            <i class="fa fa-pencil"></i>
                                            <span>submit</span>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}