{% extends "layout/default.html" %}

{% block title %}Post Detail{% endblock %}

{% block main %}
    {% if uni == post.uni %}
        <a href="/post/edit-post/{{ post.id }}">Edit Post</a>
    {% endif %}
    <ul>
        <li>Title: {{ post.title }}</li>
        <li>Username: {{ post.user.username }}</li>
        <li>Time Posted: {{ post.time_posted }}</li>
        <li>Content: {{ post.content }}</li>
        <li>Post Type: {{ post.tag.post_type }}</li>
        <li>Rate: {{ post.tag.rate }}</li>
        <li>Position: {{ post.tag.position }}</li>
        <li>Company: {{ post.tag.company }}</li>
        <li>Hashtags: 
            <ul>
                {% for hashtag in post.tag.hashtags %}
                    <li>{{ hashtag }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Domain: {{ post.tag.domain }}</li>
    </ul>
    <p>Comments: </p>
    <ul>
        {% for indent, reply in comments %}
        <div style="margin-left: {{ indent * 5 }}em">
            <li>Username: {{ reply.user.username }}</li>
            <li>Content: {{ reply.content }}</li>
            <li>Time Posted: {{ reply.time_posted }}</li>
            <form action="/comment/add-comment" method="post">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="comment_id" value="{{ reply.id }}">
                <textarea name="content" cols="10" rows="10"></textarea>
                <input type="submit" value="Reply">
            </form>
        </div>
        {% endfor %}
    </ul>
    <form action="/comment/add-comment" method="POST">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <textarea name="content" cols="10" rows="10"></textarea>
        <input type="submit" value="Comment">
    </form>
{% endblock %}