{% extends "layout/base.html" %}

{% block title %}Change Password{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block main %}
    <div class="row mb mt lpad">
        <div class="form-wrapper">
            <div class="form-title">
                <h1>Change Password</h1>
            </div>
            {% include "includes/form-error.html" %}
            <form action="/auth/change-password" method="POST">
                <div class="form-item">
                    <input type="password" name="old_password" placeholder="Old Password"/>
                </div>
                <div class="form-item">
                    <input type="password" name="new_password" placeholder="New Password"/>
                </div>
                <div class="form-item">
                    <input type="password" name="new_password_confirm" placeholder="Confirm New Password"/>
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" value="Change Password" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}