{% extends "layout/base.html" %}

{% block title %}Sign Up{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block main %}
    <div class="row mt mb lpad">
        <div class="form-wrapper">
            <div class="form-title">
                <h1>Sign Up</h1>
            </div>
            {% include "includes/form-error.html" %}
            <form action="/auth/register" method="POST">
                <div class="form-item required">
                    <input type="text" name="uni" placeholder="UNI">
                </div>
                <div class="form-item required">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="form-item required">
                    <input type="password" name="password_confirm" placeholder="Confirm Password">
                </div>
                <div class="form-item required">
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="form-item required">
                    <input type="text" name="username" placeholder="User Name">
                </div>
                <div class="form-item">
                    <input type="text" name="major" placeholder="Major">
                </div>
                <div class="form-item">
                    <textarea name="personal_des" placeholder="Write something about you..."></textarea>
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" value="Sign Up">
                </div>
            </form>
        </div>
        <div class="form-footer">
            <p><a href="/auth/login">Sign In</a></p>
            <p><a href="#">Forget password?</a></p>
        </div>
    </div>
{% endblock %}